<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.zyw.horrarndoo.yizhi">

    <application
        android:name=".global.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="android.max_aspect"
            android:value="2.1"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="evan.wang.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <activity
            android:name=".ui.activity.FlashActivity"
            android:theme="@style/FlashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.activity.detail.ZhihuDailyDetailActivity"/>

        <activity android:name=".ui.activity.detail.WangyiDailyDetailActivity"/>

        <activity android:name=".ui.activity.detail.WeixinChoiceDetailActivity"/>

        <activity android:name=".ui.activity.detail.GankIoDetailActivity"/>

        <activity android:name=".ui.activity.detail.MovieDetailActivity"/>

        <activity android:name=".ui.activity.detail.BookDetailActivity"/>

        <activity android:name=".ui.activity.detail.WebViewLoadActivity"/>

        <activity android:name=".ui.activity.AboutActivity"/>

        <activity android:name=".ui.activity.personal.HeadSettingActivity"/>

        <activity android:name=".ui.activity.pic.ImageBrowseActivity"/>

        <activity android:name=".ui.activity.MainActivity"/>
    </application>

</manifest>